<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="fileSystemTitle"></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-treetable/3.2.0/css/jquery.treetable.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-treetable/3.2.0/css/jquery.treetable.theme.default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-treetable/3.2.0/jquery.treetable.min.js"></script>


    <style>

    </style>

</head>

<body>
    
        
    <br>
    <div>
        <h4 style="text-align: center;">Save File</h4>
        <br>
    </div>
    <form>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <label for="parent">Folder</label>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" id="parent" name="parent">
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <label for="parent">File name</label>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" id="parent" name="parent">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <label for="parent">Save as type</label>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" id="parent" name="parent">
                </div>
            </div>
            <br>
            <button style="width: 100%" type="submit" class="btn btn-primary">Save</button>


    </form>

    
    <form action="/folders" method="POST">
        <br>
        <button style="width: 100%" type="submit" class="btn btn-primary">Choose folder</button>
    </form>

    </div>

</body>

<script>
    $(document).ready(function () {
        var hit = false;
        $("#doChoose").click(function () {
            console.log(456)
            /* if(!hit){
                //$("#getFolder").trigger("click")
                 hit =true
            }   */

        })

        $("#getFolder").hide()

    });

</script>


</html>